<!doctype html>
<html>
<head>
    <title>Abstract Art Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
    <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
    </style>
</head>
    <body>
        <h1>Abstract Art Converter</h1>
        <h3>by Will, Alex, Varun, and Hannah </h3>
        <!-- <img class="wacky-mountain" src="{{ url_for('static', filename='images/epoch427_real_A.png')}}"></img>
        <img class="wacky-mountain" src="{{ url_for('static', filename='images/epoch427_fake_B.png')}}"></img> -->
        <img src="{{url_for('static', filename = 'results/raccoon_real.png')}}"></img>
        <img src="{{url_for('static', filename = 'results/raccoon_fake.png')}}"></img>
        </form>
    </body>
</html>